.git
.gitignore
.idea
.vscode
.claude

**/node_modules
frontend/dist
frontend/*.tsbuildinfo

backend/.gradle
backend/build
backend/data
backend/boot.log
backend/bin
backend/out

docs
README.md
**/*.log
